<div class="row">
  <div class="col-md-12">
    <h3>Estadísticas</h3>
    <hr></hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <canvas id="myChart"></canvas>
  </div>
</div>

<script type="text/javascript">
  var inserts_data = <%= @inserts_data %>;
  var finds_extension_data = <%= @finds_extension_data %>;
  var finds_name_data = <%= @finds_name_data %>;
  var finds_size_data = <%= @finds_size_data %>;
</script>