<div class="row">
  <div class="col-md-12">
    <h3>psoldier</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <canvas id="myChart"></canvas>
  </div>
</div>

<script type="text/javascript">
  var inser_data = <%= @inserts_data.to_json %>;
  var find_data = <%= @finds_data.to_json %>; 
</script>